
<div class="container mt-5">
  <h1 class="mb-5 text-white text-center"> About Me  </h1>
  <div class="row">
    <div class="col-md-3">
      <!-- Your Image -->
      <img src="assets/profile-pic_260x260.jpg" width="260px" class=" img-fluid img-thumbnail border-black rounded-5 mt-5 " alt="omar alsabbagh">
    </div>
    <div class="col-md-9 mt-5">
      <!-- Your Details -->
      <h3 class="xhead-items">Education</h3>
      <div class="text-white container">
        <p class="  text-white"> University of California - Davis </p>
        <p > Bachelor of Science in Computer Science + minor in Electrical Engineering </p>
        <p> Graduated: December 2023 </p>
      </div>

      <h3 class="mt-5 xhead-items"> Interests </h3>
      <p>
        <span class="badge  rounded-pill bg-danger mx-2"> Parallel Computing </span>
        <span class="badge  rounded-pill bg-light text-black  mx-2"> GPGPU </span>
        <span class="badge  rounded-pill bg-light text-black  mx-2"> Cuda </span>
        <span class="badge  rounded-pill bg-light text-black  mx-2"> cuDNN </span>
        <span class="badge  rounded-pill bg-light text-black  mx-2"> Opencl </span>
        <span class="badge  rounded-pill bg-light text-black  mx-2"> GPU Compiler  </span>
        <span class="badge  rounded-pill bg-light text-black  mx-2"> LLVM </span>
        <span class="badge  rounded-pill bg-light text-black  mx-2"> Modern C++ </span>
      </p>
    </div>
  </div>
</div>
