
<div class="container mt-5">
  <h1 class="mb-5 text-white text-center"> About Me  </h1>
  <div class="row">
    <div class="col-md-3">
      <!-- Your Image -->
      <img src="assets/profile-pic_260x260.jpg" width="260px" class=" img-fluid img-thumbnail border-black rounded-5 mt-5 " alt="omar alsabbagh">
    </div>
    <div class="col-md-9 mt-5">
      <!-- Your Details -->
      <h3 class="xhead-items">Education</h3>
      <div class="text-white container">
        <p class="  text-white"> University of California - Davis </p>
        <p > Bachelor of Science in Computer Science + minor in Electrical Engineering </p>
        <p> Graduated: December 2023 </p>
      </div>

      <h3 class="mt-5 xhead-items">Backend Frameworks </h3>
      <p>
        <span class="badge  rounded-pill bg-danger mx-2">Java Spring</span>
        <span class="badge  rounded-pill bg-light text-black  mx-2">Node.js</span>
        <span class="badge  rounded-pill bg-light text-black  mx-2">ASP.NET Core</span>
      </p>

      <h3 class="mt-4 xhead-items">Frontend Frameworks</h3>
      <p>
        <span class="badge  rounded-pill bg-danger mx-2">Angular</span>
        <span class="badge rounded-pill bg-light text-black mx-2">React</span>
        <span class="badge rounded-pill bg-light text-black mx-2">jQuery</span>
      </p>
    </div>
  </div>
</div>
