.img-fluid:hover {
  filter: brightness(90%); /* Adjust the brightness level as needed */
}

.badge:hover{
  color: rgba(9, 31, 91, 0.6) !important;
}

.xhead-items{
  color: var(--primary-text-color)
}

.container{
  font-family: Playpen Sans, sans-serif;
}

