<div class="container mt-5">
  <section class="main-section" style="margin-top: 100px">
    <p style="color: var(--primary-text-color)">Hello there, my name is</p>
    <div class="heading">
      <h1 style="color: var(--primary-text-color)"> Omar Alsabbagh </h1>
      <h1 class="text-white">I am a Full-Stack Web Developer</h1>
    </div>

    <ul class="desc">
      <li> At Backend side, I mainly work with Java Spring Framework. I also have experience with node.js and ASP.NET Core </li>
      <br>
      <li> At Frontend side, I have experience with Angular, React, and jQuery</li>
      <br>
      <li> I'm also proficient with Microservices and other Cloud related services such as AWS, Docker </li>
    </ul>

    <div class="btn-container">
      <a class="btn" href="#contact">Contact me </a>
      <a class="btn" href="https://www.linkedin.com/in/omaralsabbagh17/" target="_blank" rel="noopener noreferrer" >
        LinkedIn
      </a>
      <a class="btn" href="https://github.com/Omar-Alsabbagh17" target="_blank" rel="noopener noreferrer">

        Github
      </a>
    </div>
  </section>


</div>
