<div class="container mt-5">
  <section class="main-section" style="margin-top: 100px">
    <p style="color: var(--primary-text-color)">Hello there, my name is</p>
    <div class="heading">
      <h1 style="color: var(--primary-text-color)"> Omar Alsabbagh </h1>
      <h1 class="text-white">I am a Software Engineer</h1>
    </div>

      <figure class="mt-5 mb-5">
        <blockquote class="blockquote text-white text-center">
            <p> <em> In coding's flow, hours vanish unseen, </em> <p>
            <p><em>  As algorithms awaken, fulfillment's keen.</em></p>
            <p><em>  That's why, my friend, in Computer Science I delight,</em></p>
            <p><em>  Where every code line turns darkness to light. </em></p>
        </blockquote>
      </figure>

    <ul class="desc">
      <li> At Backend side, I mainly work with Java Spring Framework. I also have experience with node.js and ASP.NET Core </li>
      <br>
      <li> At Frontend side, I have experience with Angular, React, and jQuery</li>
      <br>
      <li> I'm also proficient with Microservices and other Cloud related services such as AWS, Docker </li>
      <br>
      <li> in addition, I also find delight working in  Operating System Programming, Embedded systems,
        and other areas of Software Engineering.
        In any CS field, my exploration never ends.
      </li>
    </ul>

    <div class="btn-container">
      <a class="btn" href="#contact">Contact me </a>
      <a class="btn" href="https://www.linkedin.com/in/omaralsabbagh17/" target="_blank" rel="noopener noreferrer" >
        LinkedIn
      </a>
      <a class="btn" href="https://github.com/Omar-Alsabbagh17" target="_blank" rel="noopener noreferrer">

        Github
      </a>
    </div>
  </section>


</div>
