<div class="container text-center text-white mt-5">
  <h1 class="mb-5"> Courses </h1>
  <div class="card mb-1">
    <div class="card-body"> Around November 2018, I created some Computer Science related courses on Youtube and Udemy. </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card border-danger h-100">
        <img src="assets/learn_calc_360x300.png" class="card-img-top" height="300px" width="300px" alt="learn calculus">
        <div class="card-body">
          <h5 class="card-title"> Learn Calculus 1</h5>
          <p class="card-text text-black-50"> Covers the first few chapters from James Stewart's Calculus book </p>
          <a href="https://www.youtube.com/playlist?list=PLK2LMSvyircUgsDeQyU2P__w7ClnAEyp5" target="_blank" class="btn btn-primary"> Link to the course</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 align-items-stretch">
      <div class="card border-info h-100">
        <img src="assets/learn_cpp_360x300.png" class="card-img-top" height="300px" alt="learn cpp">
        <div class="card-body">
          <h5 class="card-title">  Learn the basics of C++ </h5>
          <p class="card-text text-black-50"> Covers the basics of C++ Programming language. This course is on Udemy. </p>
          <a href="https://www.udemy.com/course/learn-c_plus-with-real-world-examples/"  target="_blank" class="btn btn-primary"> Link to the course </a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 align-items-stretch">
      <div class="card border-danger h-100">
        <img src="assets/learn_python_360x300.jpg" class="card-img-top" height="300px" alt="learn python">
        <div class="card-body">
          <h5 class="card-title">  Learn programming with Python </h5>
          <p class="card-text text-black-50"> Covers the basics of Python Programming. This course is on Udemy. </p>
          <a href="https://www.udemy.com/course/learn-python-with-real-world-examples-and-job-interview-question/"  target="_blank" class="btn btn-primary"> Link to the course </a>
        </div>
      </div>
    </div>
  </div>
</div>
