<div class="container mt-5">
  <h1 class="text-center text-white mb-5"> Web Development Experience </h1>
<!-- ========== First Row ========================= -->
  <div class="row">
<!--    First Row, First Column -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0 xjob">E-Commerce website Using Spring  and angular</h4>
<!--          <div class="mb-0">-->
<!--            <span class="badge bg-secondary rounded-pill">-->
<!--              Java Spring Framework-->
<!--            </span>-->
<!--            <span class="badge bg-secondary rounded-pill">-->
<!--              Angular-->
<!--            </span>-->
<!--            <span class="badge bg-secondary rounded-pill">-->
<!--              Spring Data JPA-->
<!--            </span>-->
<!--            <span class="badge bg-secondary rounded-pill">-->
<!--              Spring MVC-->
<!--            </span>-->
<!--          </div>-->
        </div>
        <ul>
          <div class="card-body">
            <li> Designed and developed an e-commerce Website using Spring framework for the backend and Angular for frontend.</li>
          </div>
          <div id="collapsedDetails1" class="collapse">
            <div class="card-body">
              <li>
                   Integrated secure user authentication and authorization using Spring Security,
                   ensuring protection of sensitive user information, and preventing unauthorized access.
              </li>
              <li>
                built REST API endpoints to facilitate communication between the frontend and backend,
                enabling dynamic updates and real-time interaction with the application.
              </li>
              <li> wrote the code to manage and process payments using Stripe payment Processing API.  </li>
            </div>
          </div>
        </ul>

        <div class="accordion">
          <div class="accordion-item text-center">
              <button class="btn btn-secondary my-1"  (click)="detailsBtnPressed($event)"  data-bs-toggle="collapse" data-bs-target="#collapsedDetails1">
                More Details
              </button>
          </div>
        </div>
      </div>
    </div>
    <!--    First Row, 2nd Column -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0 xjob"> Weather Forecasting App </h4>
        </div>
        <ul>
          <div class="card-body">
            <li> Developed a weather forecasting application using the Spring Boot, Spring MVC, and Angular.</li>
          </div>
          <div id="collapsedDetails2" class="collapse">
            <div class="card-body">
              <li> robust error handling and logging for enhanced system resilience and easier troubleshooting. </li>
              <li> Applied Test-Driven Development (TDD) principles to write unit and integration tests
                using JUnit and Mockito, achieving high code coverage and ensuring system reliability.
              </li>
            </div>
          </div>
        </ul>

        <div class="accordion">
          <div class="accordion-item text-center">
              <button class="btn btn-secondary my-1"  (click)="detailsBtnPressed($event)"  data-bs-toggle="collapse" data-bs-target="#collapsedDetails2">
                More Details
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- ========== 2nd Row ========================= -->
    <div class="row">
      <!--    2nd Row, First Column -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0 xjob">Microservices-based Backend System</h4>
          </div>
          <ul>
            <div class="card-body">
              <li> Leveraged Spring framework to develop modular and independent business microservices for different functionalities.</li>
            </div>
            <div id="collapsedDetails3" class="collapse">
              <div class="card-body">
                <li>Implemented inter-service communication using RESTful APIs, facilitating seamless collaboration among microservices. </li>
                <li> Leveraged Spring Cloud for centralized configuration management and service discovery. </li>
                <li> Employed Docker for containerization, enabling consistent deployment across various environments. </li>
              </div>
            </div>
          </ul>

          <div class="accordion">
            <div class="accordion-item text-center">
              <button class="btn btn-secondary my-1"  (click)="detailsBtnPressed($event)"  data-bs-toggle="collapse" data-bs-target="#collapsedDetails3">
                More Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--    2nd Row, 2nd Column -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0 xjob"> Employee Management System </h4>
          </div>
          <ul>
            <div class="card-body">
              <li> Implemented CRUD for employee entities, and Utilized Hibernate, and Spring Data JPA for interaction with the database.</li>
            </div>
            <div id="collapsedDetails4" class="collapse">
              <div class="card-body">
                <li>
                  Implemented robust security protocols, including authentication and authorization using Spring Security,
                  to protect user privacy and prevent unauthorized access to sensitive weather information.
                </li>
                <li> robust error handling and logging for enhanced system resilience and easier troubleshooting. </li>
                <li> Applied Test-Driven Development (TDD) principles to write unit and integration tests
                  using JUnit and Mockito, achieving high code coverage and ensuring system reliability.
                </li>
              </div>
            </div>
          </ul>

          <div class="accordion">
            <div class="accordion-item text-center">
              <button class="btn btn-secondary my-1"  (click)="detailsBtnPressed($event)"  data-bs-toggle="collapse" data-bs-target="#collapsedDetails4">
                More Details
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
